doctype html
html ng-app='ngRequests'
  head
    meta charset='UTF-8'
    title Tarif plans

    link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'
    link rel='stylesheet' href='https://code.getmdl.io/1.1.2/material.indigo-pink.min.css'
    link rel='stylesheet' href='https://rawgit.com/mebibou/mdl-selectfield/master/mdl-selectfield.min.css'
    link rel='stylesheet' href='css/app.css'
  body
    #requests(ng-app='ngRequests' ng-controller='mainController')
      .mdl-grid
        .mdl-cell.mdl-cell--12-col
          h3.mdl-typography--text-center  Requests
          form
            .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
              select.mdl-selectfield__select id='projects' name='projects' ng-model='$storage.project'
                option value=''
                option ng-repeat='project in $storage.projects' value='{{ project.name }}'
                  | {{ project.name }}
              label.mdl-selectfield__label for='projects'
                | Filter project
            button#reset.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect ng-click='reset()'
              | Reset data
        .mdl-cell.mdl-cell--12-col
          table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
            thead
              tr
                th.mdl-data-table__cell--non-numeric
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect ng-click="order('title')"
                    | Title
                    i.sortorder ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === 'title'"
                th.mdl-data-table__cell--non-numeric
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect ng-click="order('text')"
                    | Text
                    i.sortorder ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === 'text'"
                th.mdl-data-table__cell--non-numeric
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect ng-click="order('project')"
                    | Project
                    i.sortorder ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === 'project'"
                th.mdl-data-table__cell--non-numeric
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect ng-click="order('urgency')"
                    | Urgency
                    i.sortorder ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === 'urgency'"
                th.mdl-data-table__cell--non-numeric
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect ng-click="order('date')"
                    | Date
                    i.sortorder ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === 'date'"
                th.mdl-data-table__cell--non-numeric.mdl-typography--text-center
                  button.mdl-button.mdl-js-button
                    | Delete
            tbody
              tr ng-repeat='request in $storage.requests | filter:$storage.project | orderBy:$storage.predicate:$storage.reverse'
                td.mdl-data-table__cell--non-numeric
                  | {{ request.title }}
                td.mdl-data-table__cell--non-numeric
                  | {{ request.text }}
                td.mdl-data-table__cell--non-numeric
                  | {{ request.project }}
                td.mdl-data-table__cell--non-numeric
                  | {{ request.urgency }}
                td.mdl-data-table__cell--non-numeric
                  | {{ request.date | date:'MMM d, y HH:mm:ss' }}
                td.mdl-data-table__cell--non-numeric.text-center
                  button.mdl-button.mdl-js-button.mdl-button--icon ng-click='deleteRequest(request)'
                    i.material-icons  delete_forever
        .mdl-cell.mdl-cell--12-col.add-request.mdl-shadow--6dp
          h5.mdl-typography--text-center  Add request
          form#add-request name='add-request' ng-submit='addRequest()'
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-request--title type='text' ng-model='formRequest.title' ng-required='true'
              label.mdl-textfield__label for='add-request--title'  Add title
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              textarea.mdl-textfield__input#add-request--text type='text' rows='3' ng-model='formRequest.text' ng-required='true'
              label.mdl-textfield__label for='add-request--text'  Add text
            .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
              select.mdl-selectfield__select#add-request--project name='add-request--project' ng-model='formRequest.project' ng-required='true'
                option value=''
                option ng-repeat='project in $storage.projects' value='{{ project.name }}'
                  | {{ project.name }}
              label.mdl-selectfield__label for='projects'
                | Select project
            .mdl-selectfield.mdl-js-selectfield.mdl-selectfield--floating-label
              select.mdl-selectfield__select#add-request--project name='add-request--project' ng-model='formRequest.urgency' ng-required='true'
                option value=''
                option value='Low'
                  | Low
                option value='Middle'
                  | Middle
                option value='High'
                  | High
              label.mdl-selectfield__label for='projects'
                | Select urgency
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect type='submit'  Add request



    script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'
    script src='//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js'
    script src='//code.getmdl.io/1.1.2/material.min.js'
    script src='//rawgit.com/mebibou/mdl-selectfield/master/mdl-selectfield.min.js'
    script src='js/app.js'