<!DOCTYPE html>
<html ng-app="ngRequests">
  <head>
    <meta charset="UTF-8" />
    <title>Tarif plans</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css" rel="stylesheet" />
    <link href="https://rawgit.com/mebibou/mdl-selectfield/master/mdl-selectfield.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="requests" ng-app="ngRequests" ng-controller="mainController">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h3 class="mdl-typography--text-center">
            Requests
          </h3>
          <form>
            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
              <select class="mdl-selectfield__select" id="projects" name="projects" ng-model="$storage.project">
                <option value=""></option>
                <option ng-repeat="project in $storage.projects" value="{{ project.name }}">
                  {{ project.name }}
                </option>
              </select><label class="mdl-selectfield__label" for="projects">Filter project</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="reset" ng-click="reset()">Reset data</button>
          </form>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="order(&#39;title&#39;)">Title<i class="sortorder" ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === &#39;title&#39;"></i></button>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="order(&#39;text&#39;)">Text<i class="sortorder" ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === &#39;text&#39;"></i></button>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="order(&#39;project&#39;)">Project<i class="sortorder" ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === &#39;project&#39;"></i></button>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="order(&#39;urgency&#39;)">Urgency<i class="sortorder" ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === &#39;urgency&#39;"></i></button>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="order(&#39;date&#39;)">Date<i class="sortorder" ng-class="{reverse:$storage.reverse}" ng-show="$storage.predicate === &#39;date&#39;"></i></button>
                </th>
                <th class="mdl-data-table__cell--non-numeric mdl-typography--text-center">
                  <button class="mdl-button mdl-js-button">Delete</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="request in $storage.requests | filter:$storage.project | orderBy:$storage.predicate:$storage.reverse">
                <td class="mdl-data-table__cell--non-numeric">
                  {{ request.title }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  {{ request.text }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  {{ request.project }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  {{ request.urgency }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                  {{ request.date | date:'MMM d, y HH:mm:ss' }}
                </td>
                <td class="mdl-data-table__cell--non-numeric text-center">
                  <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="deleteRequest(request)"><i class="material-icons"> delete_forever</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mdl-cell mdl-cell--12-col add-request mdl-shadow--6dp">
          <h5 class="mdl-typography--text-center">
            Add request
          </h5>
          <form id="add-request" name="add-request" ng-submit="addRequest()">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" id="add-request--title" ng-model="formRequest.title" ng-required="true" type="text" /><label class="mdl-textfield__label" for="add-request--title"> Add title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <textarea class="mdl-textfield__input" id="add-request--text" ng-model="formRequest.text" ng-required="true" rows="3" type="text"></textarea><label class="mdl-textfield__label" for="add-request--text"> Add text</label>
            </div>
            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
              <select class="mdl-selectfield__select" id="add-request--project" name="add-request--project" ng-model="formRequest.project" ng-required="true">
                <option value=""></option>
                <option ng-repeat="project in $storage.projects" value="{{ project.name }}">
                  {{ project.name }}
                </option>
              </select><label class="mdl-selectfield__label" for="projects">Select project</label>
            </div>
            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
              <select class="mdl-selectfield__select" id="add-request--project" name="add-request--project" ng-model="formRequest.urgency" ng-required="true">
                <option value=""></option>
                <option value="Low">
                  Low
                </option>
                <option value="Middle">
                  Middle
                </option>
                <option value="High">
                  High
                </option>
              </select><label class="mdl-selectfield__label" for="projects">Select urgency</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"> Add request</button>
          </form>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="//code.getmdl.io/1.1.2/material.min.js"></script>
    <script src="//rawgit.com/mebibou/mdl-selectfield/master/mdl-selectfield.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
