table {
  margin: 0 auto;
  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }
  .text-center {
    text-align: center !important;
  }
  td {
    width: 160px;
    &:last-child {
      width: auto;
    }
  }
}

.mdl-textfield--floating-label, .mdl-js-selectfield, #add-request button, #reset {
  display: block;
  margin: 0 auto;
}

.add-request {
  width: 350px;
  padding: 0 0 30px;
  margin: 40px auto 0;
}